@prefix: admin-crud;

.@{prefix}-wrapper {
}

.@{prefix}-header {
  .@{prefix}-header-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
    color: @main-color;
  }

  .@{prefix}-header-subtitle {
    font-size: 14px;
    margin-bottom: 8px;
    color: @secondary-color;
  }

  .@{prefix}-header-desc {
    font-size: 14px;
    color: @desc-color;
  }
}

.@{prefix}-form {
  display: flex;
  margin-bottom: 16px;

  .@{prefix}-form-left {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
  }

  .@{prefix}-form-right {
    display: flex;
  }

  .next-form-item {
    display: flex;
    align-items: center;
    margin-bottom: 0;
  }
}

.@{prefix}-table {
}
